@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/* some parts adapted from from the LaTeX CSS file; see https://latex.now.sh/style.css*/

html{
  position:relative;
  min-height: 100%;
}

body{
  /*ORIGINAL: font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  */
  font-family: 'Public Sans', Helvetica, Arial, sans-serif; 
  line-height: 1.8;

  margin: 0 auto 30px;
  padding: 0;

/* 
  counter-reset: theorem;
  counter-reset: definition;
  counter-reset: sidenote-counter;
 */
  color: hsl(0, 5%, 10%);
  /* background-color: hsl(210, 20%, 98%); */

  text-rendering: optimizeLegibility;
}

/* Justify and hyphenate all paragraphs */
p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  margin-top: 1rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Prevent textarea from overflowing */
textarea {
  width: 100%;
}

main{
  margin-bottom: 3rem;
}

footer{
  position: absolute;
  z-index: -1;
  height: 30px;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #e8e8e8; 
  padding: 20px 1.25rem; 
  border-top: 1px dotted darkslategray;
  font-size: small;
  color: dimgray;
}

dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

dt{
  /*display: list-item;*/
  text-indent: -5em;
  margin-left: 5em;
}

dd{
  display: list-item;
  /*list-style-image: ;*/
  margin-left: 6em;
}

/*Wrapper*/

.container {
 /* LaTeX CSS options */
  max-width: 80ch;
  /* min-height: 100vh; */
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2rem 1.25rem;
 
  
  border:1px solid #9f9f9f;
  background:#ffffff; 
  opacity:1;
  text-rendering: optimizeLegibility;

}

.pattern{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;

  /* Grid 2 */
  background-image: linear-gradient(rgba(194, 194, 194, 0.81) 1px, transparent 1px), linear-gradient(to right, rgba(194, 194, 194, 0.81) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #ffffff;

}


.spacer{
  height: 50px;
}

/*Mobile tap-tooltip. See: https://stackoverflow.com/questions/12539006/tooltips-for-mobile-browsers */
.more_info {
  border-bottom: 1px dotted;
  text-decoration: dotted ;
  font-size:medium;
}
@media (pointer: coarse), (hover: none) {
  [title] {
    position: relative;
    display: inline-flex;
    justify-content: center;
  }
  [title]:focus::after {
    z-index: 1;
    content: attr(title);
    position: absolute;
    top: 90%;
    color: #000;
    background-color: #fff;
    border: 1px solid;
    width: fit-content;
    padding: 3px;
    font-size: small; 
    line-height: 1;
  }
}


